<div id="chatList">
  <div id="singleChat">
  </div>
  <div id="groupChat">
  </div>
  <div id="everyoneChat">
    <div class="info"></div>
    <textarea id="everyoneMsg" placeholder="WYśLIJ WIADOMOŚĆ DO WSZYSTKICH ZNAJOMYCH"></textarea>
    <div class="check">
      <input type="checkbox" id="toSingle"> Wyślij tylko do znajomych, z którymi rozpocząłeś konwersację<br>
      <input type="checkbox" id="toGroup"> Wyślij tylko do konwersacji grupowych<br>
    </div>
    <input class="everyoneMsgSend" type="submit" value="Wyślij">
  </div>
</div>
