<div id="getUserId" data-user-id="<%= user._id %>">
</div>
<div id="whichUserThisWallIs" data-user-id="<%= user._id %>" <% if( typeof myWall != "undefined") { %> data-user-myWall="<%= myWall %>" <% } %> >
</div>
