
<% if(users.length>0) {%>
<ul>
	<% for(var i=0; i<users.length; i++) { %>
	    <li class="searchResultPerson">
	    	<a href="/user/<%= users[i]._id %>"><%= users[i].username %></a>
	    </li>
	<% } %>
	</ul>
<% }else{ %>
	<div>

	</div>
<% } %>
